@charset "UTF-8";
/* CSS Document */

/* ---------   Colours   -------- */
/* Black  = #363636;
   Grey   = #CDCDCD;
   Orange = #FF5B34; */

   @font-face {
       font-family: 'brownregular';
       src: url('../fonts/brown-regular-webfont.woff2') format('woff2'),
            url('../fonts/brown-regular-webfont.woff') format('woff');
       font-weight: normal;
       font-style: normal;
   }


.title {
  font-size: 45px;
  line-height: 42px;
  color: #FF5B34;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: right;
  font-family: 'brownregular';
}
.desc {
  font-size: 45px;
  line-height: 42px;
  color: #363636;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'brownregular';
}
.desc2 {
  color: #CDCDCD;
  font-family: 'brownregular';

}



/* ---------   Buttons   -------- */

/* button {
  border: solid 2px #CDCDCD;
  background-color: white;
  border-radius: 5px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  pointer-events: auto;
  position: relative;
}
button:hover {
  background-color: #E7E7E7;
}
button:active, .switch-active {
  border: solid 2px #FF5B34;
  background-color: #FF5B34;
  color: white;
}
.switch-active:hover {
  border: solid 2px #FF5B34;
  background-color: #FF5B34;
  color: white;
} */

.button-label {
  margin-bottom: 10px;
  margin-top: 20px;
}
label {
  font-weight: 400;
}
/* label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */
.ontop {
  position: relative;
  z-index: 100;
}




/* ---------   Background Grid   -------- */

.grid-vertical {
  position: absolute;
  top: 0;
  z-index: 50;
  width: 100vw;
}
/* .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
} */
.grid-reset {
  position: relative;
}
.row {
  padding-left: 15px;
  padding-right: 15px;
}
.highlight-row {
  border-left: dashed 1px #FF5B34;
  border-right: dashed 1px #FF5B34;
}
.max-width {
  max-width: 1600px;
}
.main {
  pointer-events: none
}
.pointer {
  pointer-events: auto;
}


.one-col {
  background-color: rgba(255, 255, 255, 0);
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
}
.inner-col {
  background-color: rgba(55, 55, 55, 0.05);
  height: 100vh;
}
/* .one-col:hover {
  background-color: #FFD6CC;
}
.one-col:hover > .inner-col{
  background-color: #FFE7E1;
} */
.one-col:hover {
  background-color: rgba(55, 55, 55, 0.05);
}
.one-col:hover > .inner-col{
  background-color: rgba(55, 55, 55, 0.05);
}






/* ---------   Baseline Grid   -------- */

.baseline-horizontal {
  position: absolute;
  top: 0;
  z-index: -100;
  width: 100vw;
  height: 100vh;
}
.baseline-height {
  height: 100vh;
}

.baseline-off {
  background: none;
}
.baseline-8px {
  background-image: url("../images/baseline8.gif");
  background-repeat: repeat;
  background-color: none;
  background-size: 16px 16px;
}
.baseline-16px {
  background-image: url("../images/baseline16.gif");
  background-repeat: repeat;
  background-size: 16px 16px;
}

.input-right {
  margin-right: 20px;
}




/* ---------   Playground   -------- */

.playground-shown {
  display: block;
}
.playground-hidden {
  display: none;
}

#playground {
  margin-top: 20px;
}

.playStyle {
  text-align: center;
  color: white;
  min-height: 100px;
  margin-bottom: 15px;
}
.purple {
  background-color: rgba(171, 10, 252, .25);
}
.purple-inner {
  background-color: #AB0AFC;
  min-height: 100px;
}
.orange {
  background-color: rgba(255, 91, 52, .25);
}
.orange-inner {
  background-color: #FF5B34;
  min-height: 100px;
}
.blue {
  background-color: rgba(1, 99, 222, .25);
}
.blue-inner {
  background-color: #01C7E9;
  min-height: 100px;
}


/* ---------   Margin   -------- */

.margin0px {
  padding-left: 0px;
  padding-right: 0px;
}
.margin15px {
  padding-left: 15px;
  padding-right: 15px;
}
.margin20px {
  padding-left: 20px;
  padding-right: 20px;
}
.margin30px {
  padding-left: 30px;
  padding-right: 30px;
}


.row {
  padding-left: 0px;
  padding-right: 0px;
}
