@charset "UTF-8";
/* CSS Document */




/* --------- Selection -------- */

.nav-tabs {
  border-bottom: 0px;
}
.nav-tabs li a {
  color: #CDCDCD;
  text-decoration: none;
}
.nav-tabs li a:hover {
  text-decoration: underline;
  color: #363636;
}
.nav-tabs li.active a, .nav-tabs li.active a:hover{
  color: #363636;
  text-decoration: none;
  margin-left: 0px;
}
.nav-tabs li.active a h1 {
  padding-left: .5px;
}
li {
  width: 100%;
}
.clickToCopy:hover {
  color: #8B8B8B;
  cursor: grab;
}
.clickToCopy:active {
  cursor: grabbing;
}



/* --------- Navigation Overrides -------- */

.nav {
  border-bottom: 0px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav>li>a, .nav>li>a:hover{
  border: 0px;
  background-color: transparent;
  margin-right: 0px;
}
